/*Estilizacao global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  padding: 4rem;

  display: grid;
  place-content: center;
  background-color: black;
}

body * {
  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#app {
  width: 1120px;
}


/* Estilizacao do Header */
header {
  width: 100%;
  margin-bottom: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#input-username {
  width: 32rem;
  height: 4.8rem;
  padding: 1.6rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #06181C;
}

#input-username::placeholder {
  color: #7C7C8A;
}

header button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 3.2rem;
  background-color: #065E7C;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s;
}

header button:hover{
  background-color: #E1E1E6;
  color: #065E7C;
}

header img {
  transition: all 0.2s;
}

header button:hover img {
  filter: invert(80%)
}


/* Estilizacao da Tabela */
.table-wrapper {
  height: 400px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #4A808C;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: hsla(194, 72%, 13%, 1);
}

table thead th:first-child {
  border-top-left-radius: 12px;
}

table thead th:last-child {
  border-top-right-radius: 12px;
}

table thead tr th{
  padding: 2.4rem 4rem;
  text-align: left;
  font-size: 2rem;
}

table tbody tr:nth-child(even) td {
  background-color: hsla(192, 65%, 7%, 1);
}

table tbody tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}

table tbody tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

table tbody tr td{
  padding: 2.4rem 4rem;
  font-size: 2rem;
  line-height: 160%;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  font-weight: 700;
}

table tbody button {
  font-size: 2rem;
  color: red;
  background: transparent;
  border: none;

  cursor: pointer;
  opacity: 0.9;
}

table tbody button:hover {
  opacity: 1;
}